.common {
  max-width: 1170px;
  font-family: Gotham Pro, Arial, sans-serif;
  background: #fff;
  margin: 0 auto;
}

.link {
  text-decoration: none;
  transition: .2s all;
}
.link:hover {
  cursor: pointer;
  text-shadow: 0 10px 5px #c0c0c0;
}
.conteiner {
  max-width: 1030px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 116px;
}
.logo-img {
  display: block;
  width: 55px;
  height: 55px;
  background: url(../img/Axion-logo-1.png) no-repeat 15% / cover;
  cursor: pointer;
} 
.menu {
  width: 92%;
}
.menu__burger {
  display: none;
  width: 61px;
  position: relative;
  cursor: pointer;
}
.menu__burger-line {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #000;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}
.menu__burger-line:nth-child(1) {
  top: 0;
}
.menu__burger-line:nth-child(2) {
  top: 17px;
}
.menu__links {
  display: flex;
  justify-content: space-between;
  text-align: justify;
  align-items: center;
}
.menu__links-title {
  padding-left: 22px;
  font-size: 12px;
  line-height: 11px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
}
.menu__links-title:nth-child(5) {
  margin-right: 19%;
}
.form-search {
  border-bottom: 1px solid #000;
  width: 176px;
}
.find-text {
  width: 157px;
  height: 21px;
  border: none;
}
.cart {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  text-align: center;
  line-height: 16px;
  font-size: 9px;
  color: #fff;
  background: #000;
  text-decoration: none;
  padding: 0;
}
.lang {
  padding-left: 22px;
}

.first-block__img {
  background: url(../img/rob-potter-422534-unsplash.png) no-repeat;
  height: 280px;
  margin-bottom: 51px;
}
.first-block__text {
  display: block;
  width: 50%;
  padding: 65px 59px;
}
.first-block__headline {
  width: 195px;
  text-transform: uppercase;
  margin: 0;
  padding: 25px 0 10px;	
  font-size: 30px;
  line-height: 29px;
  color: #fff;
}
.conteiner__button {
  display: inline-block;
  font-size: 12px;
  line-height: 11px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}
.conteiner__button-img {
  padding-left: 6px;
}

.product__headline {
  text-transform: uppercase;
  font-size: 22px;
  line-height: 21px;
  text-align: center;
  margin: 0 0 16px 0;
}
.product {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.product-card {
  width: 230px;
}
.product-card__link {
  display: flex;
  flex-direction: column;
  padding-left: 12px;
  color: #000;
}
.card__img {
  width: 186px;
  height: 183px;
  align-self: center;
  margin-bottom: 23px
}
.card__about {
  font-size: 12px;
  line-height: 7px;
  margin: 0;
}
.product-card__price{
  display: flex;
  justify-content: space-between;
  margin-bottom: 33px;
}
.card__price {
  font-size: 14px;
  line-height: 8px;
  font-weight: bold;
}
.card__circ {
  display: flex;
  width: 59px;
  justify-content: space-around;
  align-items: center;
}
.card__circ-circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.gray {
  background: #C4C4C4;
}
.black {
  background: #0E1211;
}
.burgundy {
  background: #B62E3C;
}
.yellow {
  background: #FDB431;

}
.orange {
  background: #E29D69;
}
.darcBlue {
  background: #41479B;
}
.blue {
  background: #257DA9;
}
.card__line {
  height: 100px;
  padding-top: 43px;
}

.video {
  display: flex;
  justify-content: space-around;
  align-content: center;
  background: #000;
  margin-bottom: 76px;
}
.video__player {
  width: 64%;
  padding: 6% 0;
}
.video__video {
  width: 100%;
  height: auto;
  padding: 0;
  border: 8px solid #ccc;
}
.video__box {
  color: #fff;
  align-self: center;
}
.video__box-headline {
  margin: 0;
  padding-bottom: 15px;
  width: 266px;
  height: 55px;
  text-align: justify;
  font-size: 22px;
  line-height: 27px;
  font-weight: bold;
  text-transform: uppercase;
}
.video__box-text {
  width: 266px;
  height: 99px;
  font-size: 14px;
  line-height: 17px;
  font-weight: lighter;
  margin: 0; 
}

.stories__headline {
  height: 45px;
  text-align: center;
  font-size: 22px;
  line-height: 27px;
  font-weight: bold;
  text-transform: uppercase;
}
.stories {
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;
}
.stories__card {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.stories__card-img {
  width: 100%;
  margin-bottom: 5px;
}
.stories__card-headline {
  margin: 0;
  padding: 26px 0 6px 0;
  font-size: 18px;
  line-height: 17px;
}
.stories__card-text {
  font-size: 14px;
  font-weight: lighter;
  text-align: justify;
}
.stories__card-button {
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 12px 0;
}
.stories__card-link {
  font-size: 12px;
  line-height: 11px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
}
.stories__card-date {
  font-size: 12px;
  line-height: 17px;
  font-weight: bold;
  opacity: .3;
}

.gallery {
  margin-bottom: 78px;
}
.gallery__text {
  display: block;
  font-weight: bold;
  font-size: 18px;
  line-height: 17px;
  text-transform: uppercase;
  opacity: .3;
  text-align: right;
  margin-bottom: 8px;
}
.gallery__hashtag {
  display: grid;
  width: 95%;
  grid-template-columns: 15% 15% 15% 15% 15% 15% 15%;
}
.gallery__img {
  width: 100%;
}
.gallery__img:nth-child(8) {
    display: none;
  }

.footer-common {
  background: #000;
  padding-bottom: 1px;
}
.footer {
  display: flex;
  justify-content: space-between;
  color: #fff;
  width: 66%;
  padding-top: 65px;
  margin: 0 auto;
}
.footer__card {
  display: flex;
  flex-direction: column;
  width: 23%;
}
.footer__headline {
  font-size: 12px;
  line-height: 11px;
  margin: 0;
}
.footer__card-link {
  text-decoration: none;
  font-size: 12px;
  line-height: 11px;
  font-weight: lighter;
  color: #fff;
  padding-top: 8px;
}
.button {
  display: inline-block;
  width: 137px;
  height: 26px;
  border: 1px solid;
  margin: 12px 0 29px 0;
  color: #fff;
  text-align: center;
  vertical-align: middle;
}
.button__text {
  font-size: 10px;
  line-height: 10px;
  font-weight: bold;
}
.button:hover {
  box-shadow: 0 5px 5px #c0c0c0;
}
.social__link {
  margin-right: 21px;
  text-decoration: none;
  transition: .2s all;
}
.social__link:hover {
  box-shadow: 0 5px 5px #c0c0c0;
}
.footer__text {
  display: block;
  font-size: 12px;
  line-height: 11px;
  font-weight: lighter;
  color: #fff;
  text-align: center;
  padding: 55px 0 33px 0;
}